{% extends "website/base.html" %}
{% block content %}
    <h1>About Meeting Planner</h1>
    <p>
        Planning an online chat, conference call or videoconference with participants around your organization can be difficult, especially when you need to find a time in the day when everyone is in their business hours! This meeting planner allows you to choose the date for your meeting and the room for the meeting.<br/> Your meeting planner results allow you to see the relationship each location has in regards to daytime hours with proper adjustments for any room observing daylight saving time, so you can quickly target a time that works for everyone.
    </p>
{% endblock content %}
    