{% extends "website/base.html" %}
{% block content %}
    <h1>My Meetings</h1>
    <div class="row mt-4">
    {% if meetings %}
        {% for m in meetings %}
        <div class="col-md-4">
            <div class="card mb-4"  style="max-width: 36rem;">
                <div class="card-body">
                  <h5 class="card-title">{{m.title}}</h5>
                  <p class="card-text">{{m.duration}}</p>
                  
                </div>
                <div class="card-footer bg-transparent border-bg-light">
                    <a href="#" class="btn btn-sm btn-primary btn-block">View details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>You have no meetings</p>
    {% endif %}
    </div>  
{% endblock content %}